{% extends "template.html" %}
{% block conteudo %}
    <div class = 'content-error' >
        <div class = 'div-right-error'>
            <h2>Erro ao solicitar o serviço</h2>
            <p >O serviço que você solicitou retornou um erro.</p>
            <p >Verifique se você digitou os dados da cobrança corretamente.</p>
            <p >Caso o erro persista entre em contato pelos nossos canais de atendimento.</p>
        </div>
        <div style = 'margin-left: 10em'>
            <img 
            style = 'height: 10em'
            src="{{url_for('static', filename = 'img/attention.png')}}">
        </div>
    </div>
{% endblock %}