{% extends "template.html" %}
{% block conteudo %}
<div class = 'content-blocks'>
    <div class = 'div-right-index'>
        <h2>Soluções para descomplicar a gestão financeira, <strong>pensadas para você e seu negócio</strong></h2>
            <h3>Simplifique as suas cobranças.</h3>
            <p >Boletos registrados, sem tarifas de emissão, baixa ou cancelamento.</p>
            <p >Começe a emitir boletos com mais facilidade e tenha 
                mais segurança para os seus recebimentos.</p>
            <p>Acesse <a href="https://gerencianet.com.br">gerencianet.com.br</a> 
                ou conheça 
                <a href="https://gerencianet.com.br/solucoes">
                    nossas soluções</a>.
            </p>
        </div>
        <div>
            <div style = 'margin-left: 10em; margin-bottom: 5em;'>
                <a href='http://127.0.0.1:5000/information_banking_billet/'>
                    <span title='Gerar boleto'>
                    <img 
                    style = 'height: 5em'
                    src="https://files.readme.io/WEZDHxRDSW2HeOJD2Rgn_barcode-product.png">
                    </span>
                </a>
            </div>
            <div style = 'margin-left: 10em; margin-bottom: 5em;'>
                <a href='http://127.0.0.1:5000/information_credit_card/'>
                    <span title='Gerar cobrança no cartão'>
                    <img 
                    style = 'height: 5em'
                    src="https://files.readme.io/m0QkHTIT62PT6wODA5hW_credit-cards-payment%20(1).png">
                    </span>
                </a>
            </div>
            <div style = 'margin-left: 10em; margin-bottom: 5em;'>
                <a href='http://127.0.0.1:5000/information_carnet/'>
                    <span title='Gerar carnê'>
                    <img 
                    style = 'height: 5em'
                    src="https://files.readme.io/rAud18Y7T0igh53WwL2n_barcode.png">
                    </span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

